
.dl-map {
  position: absolute;
  top: 6em;
  bottom: 1em;
  left: calc(25% + 1em);
  right: calc(25% + 1em);
  width: calc(50% - 1em);
  height: calc(100vh - 7em);
}

.dl-map.wide {
  right: 1em;
  width: calc(75% - 1em);
}

.info-bubble {
  opacity: 0.75;
  padding: 0 5px;
  pointer-events: none;
}

.info-bubble .info-bubble-title {
  font-size: 15px;
  margin-left: 2px;
}

.info-bubble .info-bubble-label {
  font-size: 10px;
  opacity: 0.7;
  margin-left: 2px;
}

.info-bubble .H_ib_close {
  display: none;
}

.info-bubble .H_ib_body {
  width:12em;
  padding: 0;
}

#grad {
  position: absolute;
  top: 7em;
  left: calc(25% + 2em);
  height: 2em;
  width: 150px;
  background-image: linear-gradient(to right, rgb(255, 220, 55), rgb(255, 1, 55));
}

#grad_right {
  float: right;
  padding-right: 5px;
  color: white;
}

#grad_left {
  padding-left: 5px;
}
