%header#header
  .inner
    %a.logo{href: "/"}
      =image_tag "logo.png", width: "30px"
      = t(:find_your_doctor)
    %nav#nav
      = render partial: 'layouts/menu'
%a.navPanelToggle{href: "#menu"}
  %span.fa.fa-bars
%nav#navPanel
  = render partial: 'layouts/menu'
  %a.navPanelClose.close{href: "#menu"}
