#reports { text-align: center; }

#search .inner {
  margin-top: 30px;
  margin-bottom: 50px;
}

#detail_info_div {
  position: absolute;
  top: 5em;
  bottom: 1em;
  left: calc(75% - 1em);
  right: 1em;
  width: 25%;
  height: calc(100vh - 7em);
  overflow: auto
}

#specialists_div {
}

#close_box {
  right: 0px;
  top: 0px;
  position: absolute;
}

#search_div {
  position: absolute;
  top: 5em;
  bottom: 1em;
  left: 0;
  right: calc(75% + 1em);
  width: 25%;
  height: calc(100vh - 7em);
}

select2_change_border_color {
  border-color: $border_color
}

#institution_info {
  border: solid 1px $main;
  padding-left: 1em;
  padding-right: 1em
}

.specialist_info {
  border-top: solid 1px $border_color
}

.bold {
  font-weight: 500
}

.smaller {
  font-size: 90%
}
