#reports { text-align: center; }

#search .inner {
  margin-top: 30px;
  margin-bottom: 50px;
}

#detail_info_div {
  position: absolute;
  top: 5em;
  bottom: 1em;
  left: calc(75% - 1em);
  right: 1em;
  width: 25%;
  height: calc(100vh - 7em);
  overflow: auto;
}

#close_box {
  right: 0px;
  top: 0px;
  position: absolute;
}

#search_div {
  position: absolute;
  top: 5em;
  bottom: 1em;
  left: 0;
  right: calc(75% + 1em);
  width: 25%;
  height: calc(100vh - 7em);
}

select2_change_border_color {
  border-color: $border_color
}
